body {
    font-family: Arial;
    color: rgb(250, 7, 7);
  }
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  

  .left {
      left: 0;
      width: 30%;
    background-color: rgba(255, 255, 255, 0.945);
  }
  

  .right {
      right: 0;
      padding-right: 500 px;
    width: 70%;
    background-color: rgba(218, 25, 25, 0.932);
    color: rgb(255, 255, 255);
  }
  .center {
    left: 50%;
    text-align: center;
  }
  img {
      margin-bottom: 3px;
    width: 160px;
    border-radius: 50%;
  }
.contact{
    margin-top: 5%;
    margin-left: 10%;
}
.contact1{
    margin-top: 4%;
    margin-left: 10%;
    color: rgb(0, 0, 0);
}
li{
    margin-top: 30px;
    margin-left: 7%;
}
p{
    font-size: 20px;
}
.edu{
    font-size: 20px;
}
